<h1 id = "snail_id">Snails</h1>

<ol>
<% @snails.each do |snail|%>
    <li class = "snail_index">
    <%= link_to "Name: #{snail.name}",snail %>
    <%= "Shell: #{snail.shell.color}"%>
    <%= "Body: #{snail.body.color}"%>
    <%= "Favorite Food: #{snail.favorite_food}"%>
    </li>
<%end%>
</ol>