 /* @import "bootstrap"; */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: "Munro";
    src: url(Munro-2LYe.ttf) format("truetype");
}
@font-face {
    font-family: "PixelTypeface";
    src: url(BIT.otf) format("truetype");
}
#error {
    color: red;
    list-style-type: none;
    border-color: #ff0000;
    background-color: #ff000055;
    font-size: 18px;
    border: 1px solid #ff0000;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
}

body {
    font-family: 'PixelTypeface';
    background-color: rgb(192, 223, 163);
}