// Place all the styles related to the Race controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.snail,
.shell, 
.chug {
  width: 96px;
  height: 96px;
  display: block;
}
.snail {
  position: relative;
}
.chug {
  position: absolute;
}
.chug img{
  width: 96px;
  height: 96px;
  object-fit: none;
  object-position: 0% 0%;
}

@keyframes chug {
  100% {
    object-position: -384px 0;
  }
}

.racer-1 > div {
    left: 0px;
    position: absolute;
    top: 190px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-1 {
    100% { left: 1024px; }
}

.racer-2 > div {
    left: 0px;
    position: absolute;
    top: 250px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-2 {
    100% { left: 1024px; }
}

.racer-3 > div {
    left: 0px;
    position: absolute;
    top:310px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-3 {
    100% { left: 1024px; }
}

.racer-4 > div {
    left: 0px;
    position: absolute;
    top: 370px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-4 {
    100% { left: 1024px; }
}

.prize {
    left: 68px;
    top: -76px;
    z-index: 200;
    position: absolute;
  }

.results {
    display: flex;
    justify-content: center;
    opacity: 0;
    top: 300px;

    animation: results 1s 16s forwards;
}
@keyframes results {
    1% { opacity: 1}
}

.stopwatch {
    display: flex;
    justify-content: center;
    opacity: 0;
    top: 400px;

    animation: results 1s forwards;
}
@keyframes results {
    100% { opacity: 1}
}

.finish_line {
    position: absolute;
    left: 1036px;
    top: 220px;
    z-index: -20;
}

.nav {
    position: absolute;
}