// Place all the styles related to the Race controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.snail,
.shell, 
.chug {
  width: 96px;
  height: 96px;
  display: block;
}
.snail {
  position: relative;
}
.chug {
  position: absolute;
}
.chug img{
  width: 96px;
  height: 96px;
  object-fit: none;
  object-position: 0% 0%;
}

@keyframes chug {
  100% {
    object-position: -384px 0;
  }
}

.racer-one > div {
    left: 0px;
    position: absolute;
    top: 170px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-one {
    100% { left: 1024px; }
}

.racer-two > div {
    left: 0px;
    position: absolute;
    top: 230px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-two {
    100% { left: 1024px; }
}

.racer-three > div {
    left: 0px;
    position: absolute;
    top:290px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-three {
    100% { left: 1024px; }
}

.racer-four > div {
    left: 0px;
    position: absolute;
    top: 350px;
    width: 96px;
    height: 96px;
    color: white;
}
@keyframes racer-four {
    100% { left: 1024px; }
}

.prize {
    left: 1100px;
    top: -30px;
    position: absolute;
  }

.results {
    display: flex;
    justify-content: center;
    opacity: 0;
    top: 300px;

    animation: results 1s 18s forwards;
}
@keyframes results {
    100% { opacity: 1}
}