// Place all the styles related to the snail_races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.snail_whole{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

.shell {
    position: absolute;
}


.body {
    position: absolute;
    clip: rect(0, 96px, 96px, 0);
}


.input_snail {
    width: 200px;
    display: block;
}
