// Place all the styles related to the snail_races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.snail_whole{
    display: flex;
    position: absolute;
  }

.shell {
    position: absolute;
}


.body {
    position: absolute;
    clip: rect(0, 96px, 96px, 0);
}


.input_snail {
    width: 200px;
    display: block;
}


.snail_index {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#snail_id{
    color: green; 
    padding: 10px;  
}
