* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.float_left {
    float: left;
    display: block;
    color: green;
    font-size: 25px;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color:#333;
}

.nav-bar-menu {
    display: flex;
}

.bottom-image {
    height: 50%;
}


.bottom-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}