// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    margin: 16px;
    text-align: center;
    font-size: 48px;
  }

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}  
h3 {
  display: flex;
  justify-content: center;
  font-size: 32px;
}  


.auth-form {
    margin: auto;
    max-width: 400px;
    padding: 50px 0;
  }

  .auth-form ul {
    list-style-type: none;
  }

  label
  {
    font-size: 24px;
    padding: 10px 20px;
  }

  input {
    font-size: 24px;
    padding: 10px 20px;
  }

  input{
    font-family: 'Pixel Typeface';
    display: block;
    width: 100%;
    margin: 10px 0 30px;
    border-radius: 0px;
    border: 5px solid white;
    background: #bbb linear-gradient(#bbb,#ddd);
    outline: none;
    color: #555;
    box-sizing: border-box;
  }

  input:focus {
    border-color: #6699ff;
  }
  
  input[type=submit] {
    background: #508647 linear-gradient(#74e3ff,#519147);
    border-width: 0;
    width: auto;
    font-family: 'Pixel Typeface';
    margin: 0px auto;
    transition: box-shadow .5s;
  }
  input[type=submit]:focus,
  input[type=submit]:active {
    box-shadow: 0 0 0 5px #6699ff;
  } 

  #er {
      text-align: center;
  }

a {
    color: #57b847;
}


.errors {
  list-style-type: none;
  border-color: #ff0000;
  background-color: #ff000055;
}




  